<% layout('layout') -%>
<head>
	<!-- script -->
	<%- Loader("/public/libs/js/batchCreate.min.js")
	.js("/public/libs/js/bootstrap-select.js")
	.js("/public/libs/js/batchCreate.js")
	.js("/public/libs/js/ajaxupload.js")
	.done(assets)
	%>
		<!-- style -->
	<%- Loader("/public/stylesheets/batchCreate.min.css")
	.css("/public/stylesheets/bootstrap-select.css")
	.done(assets)
	%>
</head>

<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({
			type:"GET",
			url:"/companies",
			success:function (data) {
				if (data.statusCode==0) {
					for (var i = 0; i < data.data.length; i++) {
						var temp = "<option value='"+data.data[i].companyId+"'>"
						+data.data[i].companyName
						+"</option>";
						$("#conpanySelect").append(temp);
					};
					$('#conpanySelect').selectpicker();
					loadAjaxUpload($("#conpanySelect").val());
				};
			}
		});
		$("#conpanySelect").change(function(){
		    loadAjaxUpload($("#conpanySelect").val());
		});
		
	});
	
	
</script>
<div id="main_div" >
	<div id="formdiv">
		<div id="form-content"  aria-hidden="false">
			<div class="modal-header">
				<h1>批量入库</h1>
			</div>
			<div>
				<form class="contact">
					<fieldset>
						<div class="modal-body">
							<ul class="nav nav-list">
								<div style="position:relative;float:left">
									<p id="errorRemind"></p>
									<select data-width="100px" name="companyId" id="conpanySelect" class="selectpicker show-tick">
									</select>
									<input style="margin-bottom:10px; " type="button" id="wiseduExcel"  class="btn btn-success" value="上传Excel数据" /> </p>
									<ol id="uploadedName"></ol>
								</div>
							</ul> 
						</div>
					</fieldset>
				</form>
			</div>

		</div>
		<div class="modal-header">
				<h1>资产导出</h1>
		</div>

		<button style='margin-left:20px;margin-top:20px' class="btn btn-success" onclick="javascript:bacthExport(1)">
		<span class="glyphicon glyphicon-save"></span>批量导出教育资产</button>
		<button style='margin-top:20px' class="btn btn-success" onclick="javascript:bacthExport(2)">
		<span class="glyphicon glyphicon-save"></span>批量导出云智资产</button>
	</div>
	<div>
			
	</div>



</div>
