<% layout('layout') -%>
<head>
	<!-- script -->
	<%- Loader("/public/libs/js/batchCreate.min.js")
	.js("/public/libs/js/batchCreate.js")
	.js("/public/libs/js/ajaxupload.js")
	.done(assets)
	%>
</head>

<script type="text/javascript">
	$(document).ready(function(){
		loadAjaxUpload();
	});
	
	
</script>
<div id="main_div" >
	<div id="formdiv">
		<div id="form-content"  aria-hidden="false">
			<div class="modal-header">
				<h1>批量入库</h1>
			</div>
			<div>
				<form class="contact">
					<fieldset>
						<div class="modal-body">
							<ul class="nav nav-list">
								<div style="position:relative;">
							        <p id="errorRemind"></p>
					                <input type="button" id="ssss" size="40" class="btn btn-success" value="上传文件" />  </p>
					                <ol id="uploadedName"></ol>
								</div>
							</ul> 
						</div>
					</fieldset>
				</form>
			</div>

		</div>
		<div class="modal-header">
				<h1>资产导出</h1>
		</div>

		<button style='margin-left:20px;margin-top:20px' class="btn btn-success" onclick="javascript:bacthExport()">
		<span class="glyphicon glyphicon-save"></span>批量导出资产</button>
	</div>
	<div>
			
	</div>


</div>
