<% layout('layout') -%>
<script type="text/javascript">
	$(document).ready(function(){
		$("#assetDetails").hide();
		$("#assetEvent").hide();
		$("#underName").hide();
	});
	function btnPrintClick(){  
		if ($("#baseType").val()==0) {
			$.ajax({ 
				type: 'POST', 
				url: '/fixedasset/inspection', 
				data: { 'qrCode': '201307-03-0035' }, 
				success: function (data) { 
					if(data.statusCode==0){
						$("#assetDetails").show();
						$("#assetDetails ul").html("");
						var temp ='<li class="list-group-item">';
						if (data.data.faDetail.newId) {
							$("#assetDetails ul").append(temp+'设备编号:'+data.data.faDetail.newId+'</li>');
						}else{
							alert("设备不存在!");
						}
						if(data.data.faDetail.oldId){
							$("#assetDetails ul").append(temp+'旧编号:'+data.data.faDetail.oldId+'</li>');
						}
						if(data.data.faDetail.userId){
							$("#assetDetails ul").append(temp+'领用人:'+data.data.userInfo.userName+'</li>');
							loadUnderName(data.data.faDetail.userId);

						}
						if(data.data.faDetail.userId){

						}
						
					}
				}
			});
		}else{
			alert("898");
		}
	}

	function loadUnderName(userId){
		$.ajax({ 
			type: 'GET', 
			url: '/user/'+userId+'/fixedassets', 
			success: function (data) { 
				if(data.statusCode==0){
					$("#underName").show();
					$("#addtr").html("");
						//if (data.data) {};
						for (var i = 0; i < data.data.length; ++i) {
							$("#addtr").append("<tr><td>"+i+"</td><td>"+data.data[i].newId
								+"</td><td>"+data.data[i].assetName
								+"</td><td>@mdo</td></tr>");
						};
						
						}
					}
				});
	}


</script>
<div id="main_div" >
	<h1> 资产管理</h1>
	<hr>
	<div>
		<div class="form-group">
			<p>选择输入类型:</p>
			<select id="baseType"  Style="Font-size:14pt">
				<option value="0">设备编号</option>
				<option value="1">人员工号</option>
			</select>
			<input type="text" id="baseInput">
			<button type="submit" onclick="btnPrintClick()">搜索</button>
		</div>
	</div>
	<div class="panel panel-default" id="assetDetails">
		<!-- Default panel contents -->
		<div class="panel-heading">资产详情</div>
		<ul class="list-group">
			
		</ul>
	</div>
	<div class="panel panel-default" id="underName">
		<div class="panel-heading" >用户名下</div>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>设备编号</th>
					<th>设备名</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id='addtr'>

			</tbody>
		</table>
	</div>
	<div class="panel panel-default" id="assetEvent">
		<div class="panel-heading" >设备变动记录</div>
		<ul class="list-group" >
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Morbi leo risus</li>
			<li class="list-group-item">Porta ac consectetur ac</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>
	</div>
</div>




</div>