<% layout('layout') -%>
<head>
	 <!-- script -->
    <%- Loader()
      .js("/public/libs/js/manage.js")
      .done()
      %>
</head>
<script type="text/javascript">
	$(document).ready(function(){
		$("li[class='active']").removeAttr("class");
		$("#manage").addClass("active");
		$("#assetDetails").hide();
		$("#assetEvent").hide();
		$("#underName").hide();
	});
</script>

<div id="main_div" >
	<h1>资产管理</h1>
	<hr>
	<div>
		<div class="form-group">
			<p>选择输入类型:</p>
			<select id="baseType"  Style="Font-size:14pt">
				<option value="0">设备编号</option>
				<option value="1">人员工号</option>
			</select>
			<input type="text" id="baseInput">
			<button type="submit" onclick="btnPrintClick()">搜索</button>
		</div>
	</div>
	<div class="panel panel-default" id="assetDetails">
		<!-- Default panel contents -->
		<div class="panel-heading">资产详情</div>
		<ul class="list-group">
			
		</ul>
	</div>
	<div class="panel panel-default" id="underName">
		<div class="panel-heading" >用户名下</div>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>设备编号</th>
					<th>设备名</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id='addtr'>

			</tbody>
		</table>
	</div>
	<div class="panel panel-default" id="assetEvent">
		<div class="panel-heading" >设备变动记录</div>
		<ul class="list-group" id="historyul" >
			<li class="list-group-item">waiting</li>
			
		</ul>
	</div>
</div>




</div>