<% layout('layout') -%>
<script type="text/javascript">
  $(document).ready(function(){
    alert('123');
    var options = {
              currentPage: 3,
              totalPages: 10,
              pageUrl: function(type, page, current){
                  return "http://example.com/list/page/";

              }
    }
    $('#example2').bootstrapPaginator(options);
  });
                 
</script>
<div class="page-header">
    <h1>打印二维码</h1>
</div>


<div>
  pageSize: <%= locals.renderData.pageSize %>
  pageIndex: <%= locals.renderData.pageIndex %>
  total: <%= locals.renderData.total %>
</div>

<div id='example2' class="pagination"></div>

<div class="div_items_list">
    <%
        if (locals.renderData.qrCodeList) {
            for (var i = 0; i < locals.renderData.qrCodeList.length; i++) {
    %>
            

              <div class="item_qrcode">
                <img src="
                http://qr.liantu.com/api.php?w=180&m=10&text=<%= locals.renderData.qrCodeList[i].newId %>"/>
                <div><%= locals.renderData.qrCodeList[i].typeName %>:<%= locals.renderData.qrCodeList[i].newId %></div>
              </div>
                
    <%
            }
        }
    %>
    
</div>