#giftSize,
#giftSize2,
#giftAcount2,
#giftAcount,
#userNameInput{
	width:150px;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:20px;
}
#outOpearteOne,
#inOpearte,
#inOpearteOne,
#checkUserIdByName{
	margin-left:5px;
	margin-bottom:10px;
}

#remark{
	width:155px;
	margin-bottom:10px;
	margin-left:5px;
}
#outOpearte{
	margin-left:15px;
	margin-bottom:10px;
}