/* Account for fixed navbar */
body {
  padding-top: 70px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}


/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

 /* Reset the container */
 .container {
  max-width: none !important;
  width: 970px;
}

/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
  
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {

  padding: 22px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
/* ---------------------------------------------- */
.dashboard {
  border: 1px solid #e3e3e3;
}


/*
add to show new ui
*/
#nav_new{
  background-color: rgb(71, 163, 218);
}
.div_items_list{
  width:950px;
  text-align:center;
  margin: 0 auto 0 auto;
}
.item_qrcode{
  height:215px;
  width:188px;
  float:left
}
.item_qrcode div{
  text-align: center;
}

#footer{
  background-color: #f5f5f5;
  height: 60px;
}
.muted{
  padding-top: 20px;
  padding-left: 10px;
}
.pagination_print{
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
  width: 100%;
  padding-right: 10px;
}

#main_div{
  width: 1000px;
  _height:700px;
  min-height: 700px;
  background-color: #fff;
  margin: 0 auto;
}
.row{
  padding-right: 15px;
  padding-left: 15px;
}
/*
  create page css
  */
#formdiv{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

